@page
@using CinemaRoma.Models
@model CinemaRoma.Pages.Cinemas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cinema[0].Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinema[0].Address)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Cinema item in Model.Cinema)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit"
                   asp-route-id="@item.Id">
                    Edit
                </a> |
                <a asp-page="./Details"
                   asp-route-id="@item.Id">
                    Details
                </a> |
                <a asp-page="./Delete"
                   asp-route-id="@item.Id">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>