@page
@model CinemaRoma.Pages.Producers.IndexModel

@{
    ViewData["Title"] = "Продюсеры";
}

<h1>Продюсеры</h1>

<p>
    <a asp-page="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director[0].MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director[0].DateBirth)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Director)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>