@page
@model CinemaRoma.Pages.MovieActors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieActor</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieActor.Actor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieActor.Actor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieActor.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieActor.Movie.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>