@page
@model CinemaRoma.Pages.Actors.IndexModel

@{
    ViewData["Title"] = "Актёры";
}

<h1>Актёры</h1>

<p>
    <a asp-page="Create">Добавить запись</a>
</p>
<div class="table-responsive">


    <table id="table"
           class="table table-hover table-bordered table-dark text-center text-light "
           data-toggle="table"
           data-show-button-text="true"
           data-sortable="true"
           data-trim-on-search="false"
           data-search="true"
           data-show-search-clear-button="true"
           data-page-list="[10, 25, 50, 100, 200, All]"
           data-buttons-class="primary"
           data-mobile-responsive="true"
           data-locale="ru-RU">

        <thead class="thead-light">
        <tr>
            <th data-sortable="true"
                scope="col">
                @Html.DisplayNameFor(model => model.Actor[0].FirstName)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Actor[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].DateBirth)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Actor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                <td>
                    <a asp-page="./Edit"
                       asp-route-id="@item.Id">
                        Edit
                    </a> |
                    <a asp-page="./Details"
                       asp-route-id="@item.Id">
                        Details
                    </a> |
                    <a asp-page="./Delete"
                       asp-route-id="@item.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>